<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" >{{restaurantName}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav mr-auto">
       
      </ul>
      <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 24px;"></i>
      <span class='badge badge-warning' id='lblCartCount'> {{countNumber || 0}} </span>
    </div>
  </nav>