@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

.fa-square-o {
   
    font-size: 1.16em;
}

.fa-circle {
    
    font-size: 1.16em;
}
.fa-circle:before {
    content: "\f111";
    font-size: 9px;
    bottom: 11px;
    position: relative;
}
.veg-icon{
    position: relative;
    top: 8px;
   
}
.product-content h5{
font-weight: 600;
margin: 0 0 1px;
}
.spinner {
    width: 100px;
    margin-bottom: 13px;
  }
  
  .spinner input {
    text-align: right;
  }
  
  .input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
  }
  
  .input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
  }
  
  .input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
  }
  
  .input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
  }
  
  .input-group-btn-vertical i {
    position: absolute;
    top: 0;
    left: 4px;
  }
  
  .fa-plus {
    margin-top: 3px;
    font-size: 10px !important;
  }
  
  .fa-minus {
    margin-top: 4px;
    font-size: 10px !important;
  }
  span {cursor:pointer; }
  .number{
    margin:100px;
  }
  .minus, .plus{
    width:20px;
    height:20px;
    background:#f2f2f2;
    border-radius:4px;
    padding:8px 5px 8px 5px;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
  input{
    height:34px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border:1px solid #ddd;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
  }
  .dec{
    width: 391px;
  } 
  @media only screen and (min-width: 374px) and (max-width: 560px){
    .dec{
      width: 200px;
    } 
  }